<section id="advantages" class="advantages">
  <div class="container">
    <h3 class="advantages-subtitle">Переваги</h3>

    <h2 class="advantages-title">Чому обрати нас?</h2>

    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="adv-list">
      <li class="adv-card">
        <picture class="adv-card-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages-img/desktop-advantages-1@1.webp 1x,
              /images/advantages-img/desktop-advantages-1@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages-img/tablet-advantages-1@1.webp 1x,
              /images/advantages-img/tablet-advantages-1@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 768px)"
            srcset="
              /images/advantages-img/mobile-advantages-1@1.webp 1x,
              /images/advantages-img/mobile-advantages-1@2.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/images/mobile-advantages-1@1.jpg"
            alt="Органічні матеріали"
            loading="lazy"
          />
        </picture>

        <h3 class="adv-card-title">Стійкість та екологічність</h3>
        <p class="adv-card-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>

      <li class="adv-card">
        <picture class="adv-card-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages-img/desktop-advantages-2@1.webp 1x,
              /images/advantages-img/desktop-advantages-2@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages-img/tablet-advantages-2@1.webp 1x,
              /images/advantages-img/tablet-advantages-2@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 768px)"
            srcset="
              /images/advantages-img/mobile-advantages-2@1.webp 1x,
              /images/advantages-img/mobile-advantages-2@2.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/images/mobile-advantages-2@1.jpg"
            alt="Пошиття сумки своїми руками"
            loading="lazy"
          />
        </picture>

        <h3 class="adv-card-title">Міцність і довговічність</h3>
        <p class="adv-card-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>

      <li class="adv-card">
        <picture class="adv-card-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages-img/desktop-advantages-3@1.webp 1x,
              /images/advantages-img/desktop-advantages-3@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages-img/tablet-advantages-3@1.webp 1x,
              /images/advantages-img/tablet-advantages-3@2.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 768px)"
            srcset="
              /images/advantages-img/mobile-advantages-3@1.webp 1x,
              /images/advantages-img/mobile-advantages-3@2.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/images/mobile-advantages-3@1.jpg"
            alt="Стильні та сучасні сумки"
            loading="lazy"
          />
        </picture>

        <h3 class="adv-card-title">Стильний та сучасний дизайн</h3>
        <p class="adv-card-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
