<section class="assortment">
<div class="container assortment-container">
<h2 class="assortment-title">Наші сумки</h2>
<ul class="assortment-list">
 <li class="assortment-item">
    <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
           /images/eco-bag-classic-desktop.jpg  1x,
           /images/eco-bag-classic-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-bag-classic-tablet.jpg 1x,
            /images/eco-bag-classic-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-bag-classic-mobile.jpg 1x,
            /images/eco-bag-classic-mobile-@2x.jpg  2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-bag-classic-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
      
         <div class="centered-content">
          <h3 class="assortment-list-title">EcoBag Classic</h3>
          <p class="assortment-text">Елегантна та містка сумка для щоденного використання.</p>
          <p class="assortment-price-text">$25</p>
         </div>
         <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-tote-shopper-desktop.jpg  1x,
            /images/eco-tote-shopper-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-tote-shopper-tablet.jpg  1x,
            /images/eco-tote-shopper-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-tote-shopper-mobile.jpg  1x,
            /images/eco-tote-shopper-tablet-@2x.jpg  2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-tote-shopper-mobile.jpg
          "
           alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
  </picture>
<div class="centered-content">
      <h3 class="assortment-list-title">EcoTote Shopper</h3>
       <p class="assortment-text">Ідеальна для покупок, з посиленими ручками.</p>
       <p class="assortment-price-text">$30</p>
</div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
    <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-backpack-urban-desktop.jpg 1x,
            /images/eco-backpack-urban-desctop-@2x.jpg 2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-backpack-urban-tablet.jpg  1x,
            /images/eco-backpack-urban-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-backpack-urban-mobile.jpg   1x,
            /images/eco-backpack-urban-mobile-@2x.jpg 2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-backpack-urban-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
 
  <div class="centered-content">
        <h3 class="assortment-list-title">EcoBackpack Urban</h3>
       <p class="assortment-text">Зручний рюкзак для міста з відділенням для ноутбука.</p>
       <p class="assortment-price-text">$45</p>
      </div>
 
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-crossbody-mini-desktop.jpg  1x,
            /images/eco-crossbody-mini-desktop-@2x.jpg 2x
          "
           width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-crossbody-mini-tablet.jpg 1x,
            /images/eco-crossbody-mini-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-crossbody-mini-mobile.jpg  1x,
            /images/eco-crossbody-mini-mobile-@2x.jpg   2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-crossbody-mini-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
  <div class="centered-content">
        <h3 class="assortment-list-title">EcoCrossbody Mini</h3>
         <p class="assortment-text">Компактна сумка через плече для найнеобхіднішого.</p>
         <p class="assortment-price-text">$20</p>
    </div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-lunch-bag-desktop.jpg  1x,
            /images/eco-lunch-bag-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-lunch-tablet.jpg  1x,
            /images/eco-lunch-bag-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-lunch-bag-mobile.jpg   1x,
           /images/eco-lunch-bag-mobile-@2x.jpg   2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-lunch-bag-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
  <div class="centered-content">
        <h3 class="assortment-list-title">EcoLunch Bag</h3>
        <p class="assortment-text">Стильна та практична сумка для обідів.</p>
        <p class="assortment-price-text">$15</p>
      </div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-beach-tote-desktop.jpg  1x,
           /images/eco-beach-tote-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-beach-tote-tablet.jpg  1x,
            /images/eco-beach-tote-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-beach-tote-mobile.jpg   1x,
            /images/eco-beach-tote-mobile-@2x.jpg  2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-beach-tote-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
  <div class="centered-content">
       <h3 class="assortment-list-title">EcoBeach Tote</h3>
       <p class="assortment-text">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
       <p class="assortment-price-text">$35</p>
   </div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-travel-duffle-desktop.jpg  1x,
            /images/eco-travel-duffle-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
           /images/eco-travel-duffle-tablet.jpg  1x,
           /images/eco-travel-duffle-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-travel-duffle-mobile.jpg   1x,
            /images/eco-travel-duffle-mobile-@2x.jpg  2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-travel-duffle-mobile.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
<div class="centered-content">
      <h3 class="assortment-list-title">EcoTravel Duffle</h3>
       <p class="assortment-text">Містка дорожня сумка з додатковими кишенями.</p>
       <p class="assortment-price-text">$60</p>

</div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
 <li class="assortment-item">
        <picture class="picture-container">
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/eco-bag-desktop.jpg 1x,
            /images/eco-bag-desktop-@2x.jpg  2x
          "
          width="310"
          height="372" />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/eco-bag-tablet.jpg  1x,
            /images/eco-bag-tablet-@2x.jpg 2x
          "
          width="340"
          height="408" />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/eco-bag-mobail.jpg   1x,
            /images/eco-bag-mobile.jpg-@2x.jpg   2x
          " 
          />
        <img
          class="portfolio-image"
          src="/images/eco-bag-mobail.jpg
          "
          alt="Our-bags"
          width="288"
          height="345.6"
          loading="lazy" />
     </picture>
     <div class="centered-content">
       <h3 class="assortment-list-title">EcoKids Bag</h3>
       <p class="assortment-text">Яскрава та зручна сумка для дітей. </p>
       <p class="assortment-price-text">$22</p>
       
     </div>
       <button class="assortment-button" type="button">Купити</button>
 </li>
</ul>

</div>
</section>
