<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="reviews-title">Що говорять наші клієнти</h2>
    <ul class="reviews-list">
      <!-- Відгук 1 -->
      <li class="review-item">
        <ul class="stars-list">
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>
        <p class="review-text">
          Сумка дуже зручна та стильна, використовую щодня
        </p>
        <p class="review-author">Анна</p>
      </li>

      <!-- Відгук 2 -->
      <li class="review-item">
        <ul class="stars-list">
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>
        <p class="review-text">Відмінна якість матеріалу, приємно здивована.</p>
        <p class="review-author">Ігор</p>
      </li>

      <!-- Відгук 3 -->
      <li class="review-item">
        <ul class="stars-list">
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>
        <p class="review-text">Сумка повністю відповідає опису, рекомендую!</p>
        <p class="review-author">Олена</p>
      </li>

      <!-- Відгук 4 -->
      <li class="review-item">
        <ul class="stars-list">
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="star" width="24" height="24">
              <use href="/images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="review-text">Швидка доставка та гарне обслуговування.</p>
        <p class="review-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
