<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/index.html" class="footer-logo-link">
          <img
            src="/images/logo.svg"
            width="272"
            height="101"
            alt="Logo EcoTote"
          />
        </a>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#about" class="footer-nav-link">Про нас</a>
          </li>
          <li class="footer-nav-item">
            <a href="#advantages" class="footer-nav-link">Переваги</a>
          </li>
          <li class="footer-nav-item">
            <a href="#assortment" class="footer-nav-link">Асортимент</a>
          </li>
          <li class="footer-nav-item">
            <a href="#gallery" class="footer-nav-link">Галерея</a>
          </li>
          <li class="footer-nav-item">
            <a href="#feedbacks" class="footer-nav-link">Відгуки</a>
          </li>
          <li class="footer-nav-item">
            <a href="#support" class="footer-nav-link">Контакти</a>
          </li>
        </ul>
      </nav>

      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon">
                <use href="/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon">
                <use href="/images/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon">
                <use href="/images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-credits">
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:380999091122" class="footer-contacts-link">
              +38 (099) 909 11 22
            </a>
          </li>
          <li class="footer-contacts-item">
            <a href="mailto:hello@ecotote.com" class="footer-contacts-link">
              hello@ecotote.com
            </a>
          </li>
        </ul>
      </address>

      <p class="footer-copyrights">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
