<header class="header-section">
  <div class="container header-wrapper">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <img src="/images/logo.svg" width="84" height="36" alt="Logo EcoTote" />
      </a>
      <ul class="list-link">
        <li><a class="link" href="#about">Про нас</a></li>
        <li><a class="link" href="#advantages">Переваги</a></li>
        <li><a class="link" href="#assortment">Асортимент</a></li>
        <li><a class="link" href="#gallery">Галерея</a></li>
        <li><a class="link" href="#feedbacks">Відгуки</a></li>
        <li><a class="link" href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="tel">
          <a class="mail-tel" href="tel:+380999091122">+38 (099) 909 11 22</a>
        </li>
        <li class="mail">
          <a class="mail-tel" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button">
      <svg class="icon-burger" width="24" height="24">
        <use href="/images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<!--#region Mobail-Tablet Header Menu-->
<div class="mobile-menu">
  <div class="mobile-menu-wrapper">
    <nav class="menu-nav">
      <button class="close-btn" type="button">
        <svg class="menu-close-svg" width="24" height="24">
          <use href="/images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <a class="mobile-logo" href="./index.html">
        <img
          src="./images/logo.svg"
          width="84"
          height="36"
          alt="logo EcoTote"
        />
      </a>
      <ul class="mobil-list-link">
        <li>
          <a class="mobile-link" href="#about">Про нас</a>
        </li>
        <li><a class="mobile-link" href="#advantages">Переваги</a></li>
        <li><a class="mobile-link" href="#assortment">Асортимент</a></li>
        <li><a class="mobile-link" href="#gallery">Галерея</a></li>
        <li><a class="mobile-link" href="#feedbacks">Відгуки</a></li>
        <li><a class="mobile-link" href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="mobile-contacts">
      <ul class="mobile-contacts-list">
        <li class="mobile-tel">
          <a class="mobile-mail-tel" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="mobile-mail">
          <a class="mobile-mail-tel" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
<!--#endregion Mobail-Tablet Header Menu-->
