<section class="cta-form">
  <div class="container">

    <div class="support-wrapper">
      <div class="form-wrapper">
        <h2 class="form-title">Залишились питання? Зв'яжіться з нами!</h2>
        <p class="form-text">Ми тут, щоб допомогти!</p>
      
        <form class="form">
          <div class="form-field-wrapper">
            <label class="label-field" for="user-name">Ім'я</label>
            <input class="text-field" type="text" id="user-name" name="user-name" placeholder="Іван" required minlength="5"
              maxlength="64" />
            <p class="text-valid">Ім'я введено коректно!</p>
            <p class="text-invalid">Ім'я має бути від 5 до 64 символів.</p>
          </div>
      
          <div class="form-field-wrapper">
            <label class="label-field" for="user-email">Електронна пошта</label>
            <input class="text-field" type="email" id="user-email" name="user-email" placeholder="hello@ecotote.com" required
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
            <p class="text-valid">Email введено коректно!</p>
            <p class="text-invalid">Некоректний формат email.</p>
          </div>
      
          <div class="form-field-wrapper">
            <label class="label-field" for="user-comment">Повідомлення</label>
            <textarea class="comment-textarea" name="user-comment" id="user-comment" placeholder="Введіть своє повідомлення..."
              maxlength="500"></textarea>
            <p class="text-valid">Чудово!</p>
            <p class="text-invalid">Повідомлення занадто довге (макс. 500 символів).</p>
          </div>
      
          <button class="form-btn" type="submit">Надіслати</button>
        </form>
      </div>
      
      <div class="form-img"></div>
    </div>
      
  </div>
</section>



