.advantages {
    padding-top: 32px;
    padding-bottom: 32px;
}
.advantages-subtitle {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
}
.advantages-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}
.advantages-text {
    line-height: 1.6;
    margin-bottom: 48px;
}
.adv-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}
.adv-card-img {
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 8px;
}
.adv-card-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.adv-card-text {
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .advantages {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .advantages-subtitle {
        margin-bottom: 16px;
    }
    .advantages-title {
        margin-bottom: 24px;
    }
    .advantages-text {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .adv-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .adv-card {
        width: calc((100% - 24px) / 2);
        display: flex;
        flex-direction: column;
    }
    .adv-card:last-child {
        width: 100%;
    }
    .adv-card-img {
        margin-bottom: 32px;
    }
    .adv-card-title {
        margin-bottom: 8px;
    }
    .adv-card-text {
        margin-top: auto;
    }
}

@media screen and (min-width: 1440px) {
    .advantages-title {
        font-size: 48px;
    }
    .advantages-text {
        margin-bottom: 80px;
    }
    .adv-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .adv-card {
        width: calc((100% - 48px) / 3);
    }
    .adv-card:last-child {
        width: calc((100% - 48px) / 3);
    }
    .adv-card-title {
        font-size: 32px;
        margin-bottom: 24px;
    }
}
