:root {
    --color-neutral-darkest: #030a06;
    --color-neutral-lighter: #d9dad9;
    --color-white: #fff;
    --color-neutral-lightest: #f2f2f2;
    --color-neutral-light: #b3b5b4;
    --color-neutral: #818482;
    --color-neutral-dark: #4e5350;
    --color-neutral-darker: #1c221e;
    --color-emerald-lightest: #ebf8ed;
    --color-emerald-lighter: #d7f2db;
    --color-emerald-light: #75d281;
    --color-emerald: #3ac04c;
    --color-emerald-dark: #2e993c;
    --color-emerald-darker: #174c1e;
    --color-emerald-darkest: #113916;
    --color-error-red: #d64040;
    --opacity-transparent: rgba(255, 255, 255, 0);
    --font-primary: "Fira Sans", sans-serif;
    --second-family: "Comfortaa", sans-serif;

/* Глобальні стилі для тега body  */
    --font-base: 16px;
    --text-main: #030a06;
    --bg-body: #ebf8ed;
}


body {
    font-family: var(--font-primary);
    font-size: var(--font-base);
    color: var(--color-neutral-darkest);
    background-color: var(--bg-body);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
}