.footer {
    background: #75d281;
}
.footer .container {
    padding: 48px 20px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;

    margin-bottom: 48px;
}
.footer-logo {
    max-width: 281px;
}
.footer-logo-icon {
    display: flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    text-align: center;
}
.footer-nav-link {
    color: #030a06;
}
.footer-social-list {
    display: flex;
    gap: 12px;
}
.footer-social-item {
    width: 32px;
    height: 32px;
}
.footer-social-icon {
    display: flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
}
.footer-credits {
    border-top: 1px solid rgba(3, 10, 6, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-contacts {
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-contacts-link {
    color: #030a06;
}
.footer-copyrights {
    font-size: 14px;
    color: #030a06;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer .container {
        padding: 64px 32px;
    }
    .footer-content {
        gap: 32px;
        margin-bottom: 24px;
    }
    .footer-logo {
        width: 165px;
        height: 71px;
    }
    .footer-nav-list {
        flex-direction: row;
    }
    .footer-social-item {
        width: 40px;
        height: 40px;
    }
    .footer-contacts {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-contacts-list {
        flex-direction: row;
        gap: 32px;
    }
    .footer-copyrights {
        font-size: 14px;
        color: #030a06;
        white-space: nowrap;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .footer .container {
        padding: 80px 64px;
    }
    .footer-content {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        margin-bottom: 52px;
    }
    .footer-nav-link:hover, 
    .footer-nav-link:focus {
        text-decoration: underline 2px;
        text-underline-offset: 8px;
    }
    .footer-nav-link:active {
        text-decoration: underline 2px #3ac04c;
        text-underline-offset: 8px;
        color: #3ac04c;
    }
    .footer-social-item {
        width: 24px;
        height: 24px;
        border: 1px solid transparent;
        border-radius: 6px;
    }
    .footer-social-item:hover, 
    .footer-social-item:hover {
        border-color: #030a06;
    }
    .footer-social-item:active {
        border-color: #3ac04c;
        fill: #3ac04c;
    }
    .footer-contacts-link:hover, 
    .footer-contacts-link:focus {
        text-decoration: underline 2px;
        text-underline-offset: 8px;
    }
    .footer-contacts-link:active {
        text-decoration: underline 2px #3ac04c;
        text-underline-offset: 8px;
        color: #3ac04c;
    }
}