.header-section {
  background-color: var(--color-emerald-light);
}

.header-wrapper {
  padding-right: 12px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .header-wrapper {
    padding-right: 12px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-wrapper {
    max-width: 1440px;
    padding: 0 64px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  padding: 14px 0;
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 175px;
  }
}

.list-link {
  display: none;
}

.contacts-list {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .list-link {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .link,
  .mail-tel {
    color: var(--text-main);
    line-height: 1.6;
    display: block;
    padding: 23px 0;
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link::after,
  .mail-tel::after {
    position: absolute;
    content: '';
    border-radius: 5px;
    width: 100%;
    height: 1px;
    background-color: var(--text-main);
    left: 0;
    bottom: 7px;
    transform: translateX(-100%);
  }

  .link:hover::after,
  .link:focus::after,
  .link.active-page::after,
  .mail-tel:hover::after,
  .mail-tel:focus::after,
  .mail-tel.active-page::after {
    background-color: var(--text-main);
    transform: translateX(0);
  }

  .link.active-page::after,
  .mail-tel.active-page::after {
    background-color: var(--color-emerald);
  }

  .link.active-page::after,
  .mail-tel.active-page::after {
    transform: translateX(0);
  }

  .link::after,
  .mail-tel::after {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-page {
    color: var(--color-emerald);
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
}

.burger-btn {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-burger {
  display: block;
  fill: var(--text-main);
}

@media only screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
}

/* #region Mobail-Tablet Header Menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-wrapper {
  position: relative;
  transform: translateX(0);
  background-color: var(--color-emerald-light);
  padding: 14px 20px 92px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mobile-menu-wrapper {
    padding-right: 24px;
    padding-left: 32px;
  }
}

.mobile-menu:not(.is-open) .mobile-menu-wrapper {
  transform: translateX(100%) scale(0.5);
}

.mobile-menu-close {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: var(--text-main);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-logo {
  display: block;
  padding-bottom: 14px;
}

.mobil-list-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-link.mobail-active-page::after {
  background-color: var(--color-emerald);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-link,
.mobile-mail-tel {
  color: var(--text-main);
  line-height: 1.6;
  display: inline-block;
  position: relative;
}

.mobile-link.mobail-active-page::after,
.mobile-mail-tel.mobail-active-page::after {
  position: absolute;
  content: '';
  border-radius: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--color-emerald);
  left: 0;
  bottom: -7px;
}

.mobail-active-page {
  color: var(--color-emerald);
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
/*#endregion Mobail-Tablet Header Menu*/
