

.cta-form .container{
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;

}

.form-title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-neutral-darkest);
    max-width: 288px;
    margin-bottom: 24px;
}

.form-text{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
    margin-bottom:32px;
}

.form-field-wrapper{
    margin-bottom: 24px;
    max-width: 288px;
    padding: 0;

}

.label-field{
    display: block;
    margin-bottom: 8px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
}

.text-field,
.comment-textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    outline: none;
    color: rgba(3, 10, 6, 0.6);
    
}
.text-field{
    padding: 8px 0 8px 12px;
}
.comment-textarea{
    padding: 12px 0 12px 12px;
    height: 180px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
    resize: none;
}


.form-btn{
    border: 1px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;
    background-color:var(--color-neutral-darkest);
margin-bottom: 24px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-white);
}

.form-btn:active {
    background-color: var(--color-emerald-darkest);
    border-color: var(--color-emerald-darkest);
    opacity: 1;
}

/* #region :valid/:invalid */

.form .text-field:not(:placeholder-shown):invalid,
.form .comment-textarea:not(:placeholder-shown):invalid {
    border-color: var(--color-error-red);
}

.form .text-field:not(:placeholder-shown):valid,
.form .comment-textarea:not(:placeholder-shown):valid {
    border-color: var(--color-emerald);
}

.text-valid,
.text-invalid {
    display: none;
}

.form .text-field:not(:placeholder-shown):valid~.text-valid,
.form .comment-textarea:valid:not(:placeholder-shown)~.text-valid {
    display: block;
}

.form .text-field:not(:placeholder-shown):invalid~.text-invalid,
.form .comment-textarea:invalid:not(:placeholder-shown)~.text-invalid {
    display: block;
}
/* #endregion :valid/:invalid */


.form-img {
    display: block;
    width: 100%;
    height: 428px; 
    min-height: 288px;
    background-image: url("../images/form-img/form-img-m.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin: 0;
}


@media (min-resolution: 192dpi) {
    .form-img {
        background-image: url("../images/form-img/form-img-m@2x.jpg");
    }
}


@media only screen and (min-width: 768px) {
    .cta-form .container {
        max-width: 768px;
        padding: 64px 32px;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
  
    .form-text,
    .form-field-wrapper,
    .form-btn,
    .form-img,
    .form {
        max-width: 100%;
    }

    .form-title{
        max-width: 468px;
    }
    
    .form-img {
        width: 704px;
        background-image: url("../images/form-img/form-img-t.jpg");
    }

    .form-btn {
        width: 249px;
    }
   .comment-textarea,
   .text-field {
       width: 100%;
       box-sizing: border-box;
   }
}
    




@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .form-img {
        background-image: url("../images/form-img/form-img-t@2x.jpg");
    }
}



@media only screen and (min-width: 1440px) {

    .cta-form .container {
        max-width: 1440px;
        width: 100%;
        padding: 64px 64px;
    }

    .support-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
    }

    .form-wrapper {
        width: 644px;
    }

    .form {
        width: 100%;
    }

    .form-title {
        font-size: 48px;
        line-height: 1.2;
        max-width: 644px;
    }
    .form-img {
        width: 644px;
        height: auto;
        align-self: stretch;
        background-image: url("../images/form-img/form-img-d.jpg");
    }
    .form-btn {
        width: 198px;
        margin-bottom: 78px;
    }
    .form-btn:hover,
    .form-btn:focus{
        background-color: var(--color-neutral-darkest);
        border-color: 1px solid var(--color-neutral-darkest);
        opacity: 0.5;
        outline: none;
    }


}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .form-img {
        background-image: url("../images/form-img/form-img-d@2x.jpg");
    }
}

